/*All Pages*/
body {
  text-align: center;
}

.left {
  text-align: left;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*End All Pages*/

/*Main Page*/
.main {
  padding-top: 50px;
}
/*End Main Page*/

/*About Page*/
.about {
  padding-top: 50px;
}
/*End About Page*/

/*Portfolio Page*/
.portfolio {
  padding-top: 50px;
}
/*End Portfolio Page*/

/*Contact Page*/
.contact {
  padding-top: 50px;
}
/*End Contact Page*/

/*Bottom Page*/
.bottom {
  padding-top: 50px;
  padding bottom: 50px;
}
/*End Bottom Page*/