/*All Pages*/
body {
    text-align: center;
    font-family: Roboto Slab, Arial, sans-serif;
}

canvas {
    padding: 0px;
    margin: 0px;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    -webkit-transition: background-color 0.75s;
    transition: background-color 0.75s;
}

.btn-scroll, .btn-social {
    margin-top: 25px;
    width: 50px;
    height: 50px;
    line-height: 46px; 
    padding: 0;
    border-radius: 50%;
    border-width: 1px;
}
/*End All Pages*/

/*Main Page*/
.main {
    background-color: #2B4E72;
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px;
}

a.btn-main:link {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

a.btn-main:visited {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

a.btn-main:hover {
    background-color: #FFFFFF;
    color: #2B4E72;
}
/*End Main Page*/

/*About Page*/
.about {
    background-color: #FFFFFF;
    color: #515151;
    padding-top: 75px;
    padding-bottom: 75px;
}

.about p {
    text-indent: 40px;
    margin: 0px;
    font-size: 18px;
}

.about .page-header {
    border-bottom: 1px solid #515151;
}

a.btn-about:link {
    border-color: #515151;
    color: #515151;
}

a.btn-about:visited {
    border-color: #515151;
    color: #515151;
}

a.btn-about:hover {
    background-color: #EEEEEE;
    color: #515151;
}
/*End About Page*/

/*Portfolio Page*/
.portfolio {
    background-color: #515151;
    color: #FFFFFF;
    padding-top: 75px;
    padding-bottom: 75px;
}

.portfolio p {
    text-indent: 40px;
    margin: 0px;
    font-size: 16px;
}

.portfolio .page-header {
    border-bottom: 1px solid #515151;
}

a.btn-portfolio:link {
    border-color: #EEEEEE;
    color: #EEEEEE;
}

a.btn-portfolio:visited {
    border-color: #EEEEEE;
    color: #EEEEEE;
}

a.btn-portfolio:hover {
    background-color: #EEEEEE;
    color: #515151;
}

.laptop {
    --ms-transform: scale(0.95,0.95);
    -webkit-transform: scale(0.95,0.95);
    transform: scale(0.95,0.95);
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.laptop:hover {
    --ms-transform: scale(1,1); 
    -webkit-transform: scale(1,1); 
    transform: scale(1,1);
    -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*End Portfolio Page*/

/*Contact Page*/
.contact {
    background-color: #EEEEEE;
    color: #515151;
    padding-top: 75px;
    padding-bottom: 30px;
}

a.btn-contact:link {
    border-color: #515151;
    color: #515151;
}

a.btn-contact:visited {
    border-color: #515151;
    color: #515151;
}

a.btn-contact:hover {
    background-color: #FFFFFF;
    color: #515151;
}
/*End Contact Page*/

/*Bottom Page*/
.bottom {
    background-color: #515151;
    color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom p {
    margin-bottom: 0px;
}

a.normal {
    color: #FFFFFF;
}
/*End Bottom Page*/